<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Staff Member: <%=staff.firstName%> <%=staff.lastName%></h1>
    <p>Arrival Time: <%=staff.arrival%></p>
    <p>Departure Time: <%=staff.departure%></p>
    
    <% if (staff.skills.length != 0) {%>
        <p>Skills: 
            <ul>
            <%for (let i=0; i < staff.skills.length; i++) {%>
        <li><%=staff.skills[i]%></li>
        <%}%>
            </ul>
    </p>
   <% } %>    

<% if (staff.isDancingWithStudents === "Yes"){%>
    <p><%=staff.firstName%> is dancing with students in: 
        <ul>
            <% for (let i=0; i < staff.studentCategories.length; i++) {%>
                <li><%=staff.studentCategories[i]%></li>
                <%}%>
        </ul></p>
    <%} else {%>
        <p><%=staff.firstName%> is not dancing with students.</p>
        <%}%>


<%if (staff.isCompeting === "Yes") {%>
    <p><%=staff.firstName%> is competing in: 
        <ul>
        <% for (let i=0; i < staff.categories.length; i++){%>
            <li><%=staff.categories[i]%></li>
            <%}%>
        </ul>
        </p>
    <%} else {%>
        <p><%=staff.firstName%> is not competing.</p>
        <%}%>


    <%if (staff.qualifiedToJudge.length != 0) {%>
    <p><%=staff.firstName%> is Qualified To Judge: 
        <ul>
            <% for (let i = 0; i < staff.qualifiedToJudge.length; i++) {%>
                <li><%=staff.qualifiedToJudge[i]%></li>
                <%}%>
        </ul>
    </p>
    <%if (staff.judging.length != 0) {%>
    <p><%=staff.firstName%> is Judging: 
        <ul>
            <%for (let i=0; i < staff.judging.length; i++) {%>
                <li><%=staff.judging[i]%></li>
                <%}%>
        </ul>
    </p>
    <%} else {%>
        <p>but is not judging any divisions.</p>
        <%}%>
    <%} else {%>
        <p><%=staff.firstName%> is not qualified to judge.</p>
        <%}%>


<% if (staff.teaching.length != 0) {%>
    <p><%=staff.firstName%> is teaching:
<ul>
<% for (let i=0; i < staff.teaching.length; i++) {%>
    <li><%=staff.teaching[i]%></li>
    <%}%>
</ul>
</p>
<%} else {%>
    <p><%=staff.firstName%> is not teaching.</p>
    <%}%>

<a href="/staff/<%=staff._id%>/edit">Edit Staff Member</a>
<form action="/staff/<%=staff._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Staff Member">
</form>
</body>
</html>