<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="https://bradleymather.com/wp-content/uploads/2022/06/Event_Staffr-removebg-preview.png" class="logo">
        <div>
        <a href="/" class="button">Home</a>
        <a href="/staff" class="button">Back To Full Staff List</a>
    </div>
    </nav>
    <main>
    
    <h1 class="titleBanner">Staff Member: <%=staff.firstName%> <%=staff.lastName%></h1>
    <div class="box">
    <p>Arrival Time: <%=staff.arrival%></p>
    <p>Departure Time: <%=staff.departure%></p>
</div>
    
    <% if (staff.skills.length != 0) {%>
        <div class="box">
        <p><span class="inner">Skills: </span>
            <ul>
            <%for (let i=0; i < staff.skills.length; i++) {%>
        <li><%=staff.skills[i]%></li>
        <%}%>
            </ul>
    </p>
</div>
   <% } %>    

<% if (staff.isDancingWithStudents === "Yes"){%>
    <div class="box">
    <p><span class="inner"><%=staff.firstName%> is dancing with students in: </span>
        <ul>
            <% for (let i=0; i < staff.studentCategories.length; i++) {%>
                <li><%=staff.studentCategories[i]%></li>
                <%}%>
        </ul></p>
        </div>
    <%} else {%>
        <div class="box">
        <p><%=staff.firstName%> is not dancing with students.</p>
        <%}%>
    </div>


<%if (staff.isCompeting === "Yes") {%>
    <div class="box">
    <p><span class="inner"><%=staff.firstName%> is competing in: </span>
        <ul>
        <% for (let i=0; i < staff.categories.length; i++){%>
            <li><%=staff.categories[i]%></li>
            <%}%>
        </ul>
        </p>
    </div>
    <%} else {%>
        <div class="box">
        <p><%=staff.firstName%> is not competing.</p>
        <%}%>
    </div>

    <%if (staff.qualifiedToJudge.length != 0) {%>
        <div class="box">
    <p><span class="inner"><%=staff.firstName%> is Qualified To Judge: </span>
        <ul>
            <% for (let i = 0; i < staff.qualifiedToJudge.length; i++) {%>
                <li><%=staff.qualifiedToJudge[i]%></li>
                <%}%>
        </ul>
    </p>
    <%if (staff.judging.length != 0) {%>
    <p><span class="inner"><%=staff.firstName%> is Judging: </span>
        <ul>
            <%for (let i=0; i < staff.judging.length; i++) {%>
                <li><%=staff.judging[i]%></li>
                <%}%>
        </ul>
    </p>
    <%} else {%>
        <div class="inner"><p>but is not judging any divisions.</p></div>
        <%}%>
    </div>
    <%} else {%>
        <div class="box">
        <p><%=staff.firstName%> is not qualified to judge.</p>
    </div>
        <%}%>


<% if (staff.teaching.length != 0) {%>
    <div class="box">
    <p><span class="inner"><%=staff.firstName%> is teaching:</span>
<ul>
<% for (let i=0; i < staff.teaching.length; i++) {%>
    <li><%=staff.teaching[i]%></li>
    <%}%>
</ul>
</p>
</div>
<%} else {%>
    <div class="box">
    <p><%=staff.firstName%> is not teaching.</p>
</div>
    <%}%>
<div class="editBanner">
<a href="/staff/<%=staff._id%>/edit" class="button">Edit Staff Member</a>
<form action="/staff/<%=staff._id%>?_method=DELETE" method="POST">
    <input type="submit" class="deleteButton" value="Delete Staff Member">
</form>
</div>
    </main>
</body>
</html>